.gallery{
    padding-left: 80px;
    padding-top: 120px;
    &__images{
        display: grid;
        grid-template-columns: 270px 270px 170px 370px;
        grid-template-rows: repeat(2,255px);
        gap: 30px;
        padding-top: 60px;
        &:hover{
            overflow-y: hidden;
        }
    }
    &__items:hover{
        -webkit-animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	    animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        
    }
    &__title{
        font-weight: 300;
        font-size: 64px;
        line-height: 64px;
        color: #BDBDBD;
        overflow-y: hidden;
    }
    &__button{
        text-align: right;
        padding-right: 60px;
        padding-top:30px;
        
        & span{
            width: 24px;
            height: 24px;
            font-size: 12px;
            text-transform: uppercase;
            color: #FFFFFF;
            
        }
    }
}
#img-one{
    grid-column-start: 1;
    grid-column-end: 3;
}
#img-two{
    grid-column-start: 3;
    grid-column-end: 5;
}
#img-four{
    grid-column-start: 2;
    grid-column-end: 4;
}
@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }