.menu{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    padding-right: 263px;
    &__item{
        padding: 46px 60px 47px 0px;
        font-size: 14px;
        font-weight: 400;
        & a:hover{
            text-decoration: none;
            color: #333333;
            border-top:solid #333333;
            border-bottom:solid #333333;
            border-width: 1px;
        }
    }
}